<h2 class="py-4 px-6 border-b border-gray-200">Chatter avec notre Doc Bot</h2>

<!-- Bouton pour activer/désactiver le chat -->
<button id="toggle-chat" class="bg-teal-300 py-2 px-2 border border-teal-400 rounded shadow m-1 fixed bottom-5 right-5">
    <i class="fa fa-robot"></i> <!-- Icône de robot -->
</button>

<div id="chat-container" style="display: none;" class="bg-gray-50 fixed bottom-0 right-0 w-80 h-96 overflow-y-auto z-50">
    <button id="clear-chat" disabled class="bg-gray-100 py-2 px-2 border border-gray-400 rounded shadow m-1">Vider l'historique</button>    
    
    <div id="chat-messages" class="py-4 px-6"></div>
    
<div id="action" class="py-4 px-6">
        <button class="py-2 px-2 rounded shadow m-1 shadow" onclick="handleAction('appointment')"><i class="fas fa-calendar-alt"></i> Je souhaite prendre rendez-vous</button>
        <button class="py-2 px-2 rounded shadow m-1 shadow" onclick="handleAction('symptoms')"><i class="fas fa-user-md"></i> J'ai des symptômes et j'ai besoin d'aide</button>
        <button class="py-2 px-2 rounded shadow m-1 shadow" onclick="handleAction('payment')"><i class="fas fa-file-invoice-dollar"></i> Je veux obtenir une attestation de paiement</button>
        <button class="py-2 px-2 rounded shadow m-1 shadow" onclick="handleAction('else')"><i class="fas fa-ellipsis-h"></i> Autre</button>
    </div>

<div id="inputContent" style="display: none;" class="py-4 px-6">    
        <input type="text" id="user-input" placeholder="Tapez votre message ici..." class="w-full bg-gray-100 py-2 px-3 border border-gray-300 rounded-md">
        <button id="send-btn" class="mt-2 bg-teal-500 text-white py-2 px-4 rounded-md"><i class="fas fa-paper-plane"></i> Envoyer</button>
    </div>
</div>

<script>
    window.actionLinks = {
        appointment: '{{ path('app_speciality_index') }}',
        symptoms: '{{ path('app_reason_index') }}',
        payment: '{% if app.user %}{{ path('app_appointment_show', {user: app.user.id}) }}{% else %}{{ path('app_login') }}{% endif %}'
    };
</script>
<script src="{{ asset('js/chatbot/api.js') }}"></script>
<script src="{{ asset('js/chatbot/main.js') }}"></script>