{% block _planing_weekendStatus_widget %}
<ul id="planing-weekendStatus-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key, weekendStatusForm in form.children %}
            <li class="collection-item">
                {{ form_label(weekendStatusForm) }} {# Ajoutez l'étiquette ici #}
                {{ form_widget(weekendStatusForm) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button" class="add-item-btn collection-btn" data-list-selector="#planing-weekendStatus-fields-list">Ajouter un élément</button>
    <button type="button" class="remove-item-btn collection-btn" data-list-selector="#planing-weekendStatus-fields-list">Retirer un élément</button>

{% endblock %}

{% block _planing_closedDates_widget %}
<ul id="planing-closedDates-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key, closedDatesForm in form.children %}
            <li class="collection-item">
                {{ form_label(closedDatesForm) }} {# Ajoutez l'étiquette ici #}
                {{ form_widget(closedDatesForm) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button" class="add-item-btn collection-btn" data-list-selector="#planing-closedDates-fields-list">Ajouter un élément</button>
    <button type="button" class="remove-item-btn collection-btn" data-list-selector="#planing-closedDates-fields-list">Retirer un élément</button>
{% endblock %}

{% block _planing_openinghours_widget %}
    <ul id="planing-openinghours-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key, openinghoursForm in form.children %}
            <li class="collection-item">
                {{ form_label(openinghoursForm) }} {# Ajoutez l'étiquette ici #}
                {{ form_widget(openinghoursForm) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button" class="add-item-btn collection-btn" data-list-selector="#planing-openinghours-fields-list">Ajouter un élément</button>
    <button type="button" class="remove-item-btn collection-btn" data-list-selector="#planing-openinghours-fields-list">Retirer un élément</button>
{% endblock %}

{% block _planing_specialdates_widget %}
    <ul id="planing-specialdates-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key, specialdatesForm in form.children %}
            <li class="collection-item">
                {{ form_label(specialdatesForm) }} {# Ajoutez l'étiquette ici #}
                {{ form_widget(specialdatesForm) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button" class="add-item-btn collection-btn" data-list-selector="#planing-specialdates-fields-list">Ajouter un élément</button>
    <button type="button" class="remove-item-btn collection-btn" data-list-selector="#planing-specialdates-fields-list">Retirer un élément</button>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function addItem(listSelector) {
            var list = document.querySelector(listSelector);
            var counter = list.children.length;
    
            var newWidget = list.dataset.prototype.replace(/__name__/g, counter);
            var newElem = document.createElement('li');
            newElem.className = 'collection-item';
            newElem.innerHTML = newWidget;
            list.appendChild(newElem);
    
            // Afficher le bouton de suppression
            var removeButtons = document.querySelectorAll('[data-list-selector="' + listSelector + '"].remove-item-btn');
            removeButtons.forEach(function (button) {
                button.style.display = 'inline-block';
            });
        }
    
        function removeItem(listSelector) {
            var list = document.querySelector(listSelector);
            var itemsCount = list.children.length;
            if (itemsCount > 0) {
                list.removeChild(list.lastElementChild);
            }
    
            // Masquer le bouton de suppression si la liste est vide
            var removeButtons = document.querySelectorAll('[data-list-selector="' + listSelector + '"].remove-item-btn');
            removeButtons.forEach(function (button) {
                button.style.display = list.children.length > 0 ? 'inline-block' : 'none';
            });
        }
    
        document.querySelectorAll('.remove-item-btn').forEach(function (button) {
            button.style.display = 'none';
        });
        document.querySelectorAll('.add-item-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                var listSelector = this.getAttribute('data-list-selector');
                addItem(listSelector);
            });
        });
    
        document.querySelectorAll('.remove-item-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                var listSelector = this.getAttribute('data-list-selector');
                removeItem(listSelector);
            });
        });
    });
    
</script>

{% endblock %}