{% extends 'base.html.twig' %}

{% block title %}Mes Planings {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Mes planings</h1>

        <div class="row">
            {% for planing in planings %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2><a href="{{ path('app_planing_show', {'id': planing.id}) }}" class="card-title h5">{{ planing.startDate ? planing.startDate|date('d/m/Y') }} - {{ planing.endDate ? planing.endDate|date('d/m/Y') }}</a></h2>
                            <p class="card-text">Nombre de jours de travail: {{ planing.dayWorks|length }}</p>
                            <a href="{{ path('app_planing_edit', {'id': planing.id}) }}" class="btn btn-warning mr-2">Modifier</a>
                            {{ include('planing/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p>Aucun enregistrement trouvé</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
