{% extends 'base.html.twig' %}

{% block title %}Planing index{% endblock %}

{% block body %}
    <h1>Planing index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>CreatedAt</th>
                <th>WeekendStatus</th>
                <th>ExceptionaleClosre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planing in planings %}
            <tr>
                <td>{{ planing.id }}</td>
                <td>{{ planing.startDate ? planing.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ planing.endDate ? planing.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ planing.startTime ? planing.startTime|date('H:i:s') : '' }}</td>
                <td>{{ planing.endTime ? planing.endTime|date('H:i:s') : '' }}</td>
                <td>{{ planing.createdAt ? planing.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ planing.weekendStatus }}</td>
                <td>{{ planing.exceptionaleClosure ? planing.exceptionaleClosure|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_planing_show', {'id': planing.id}) }}">show</a>
                    <a href="{{ path('app_planing_edit', {'id': planing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planing_new') }}">Create new</a>
{% endblock %}
