{% extends 'base.html.twig' %}

{% block title %}Planing{% endblock %}

{% block body %}
    <h1>Planing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planing.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ planing.startDate ? planing.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ planing.endDate ? planing.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ planing.startTime ? planing.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ planing.endTime ? planing.endTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ planing.createdAt ? planing.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>WeekendStatus</th>
                <td>{{ planing.weekendStatus }}</td>
            </tr>
            <tr>
                <th>ExceptionaleClosre</th>
                <td>{{ planing.exceptionaleClosure ? planing.exceptionaleClosure|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planing_index') }}">back to list</a>

    <a href="{{ path('app_planing_edit', {'id': planing.id}) }}">edit</a>

    {{ include('planing/_delete_form.html.twig') }}
{% endblock %}
