{% extends 'base.html.twig' %}

{% block title %}Planing{% endblock %}

{% block body %}
    <h1>Planing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planing.id }}</td>
            </tr>
            <tr>
                <th>WeekendStatus</th>
                <td>{{ planing.weekendStatus ? planing.weekendStatus|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>ClosedDates</th>
                <td>{{ planing.closedDates ? planing.closedDates|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Openinghours</th>
                <td>{{ planing.openinghours ? planing.openinghours|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Specialdates</th>
                <td>{{ planing.specialdates ? planing.specialdates|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Defaultopeningtime</th>
                <td>{{ planing.defaultopeningtime ? planing.defaultopeningtime|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Defaultclosingtime</th>
                <td>{{ planing.defaultclosingtime ? planing.defaultclosingtime|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Weekendclosed</th>
                <td>{{ planing.weekendclosed ? planing.weekendclosed|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planing_index') }}">back to list</a>

    <a href="{{ path('app_planing_edit', {'id': planing.id}) }}">edit</a>

    {{ include('planing/_delete_form.html.twig') }}
{% endblock %}
