{% extends 'base.html.twig' %}

{% block title %}Planing{% endblock %}

{% block body %}
    <h1>Planing</h1>

    <div>
        <h2>{{ planing.startDate ? planing.startDate|date('Y-m-d') : '' }} - {{ planing.endDate ? planing.endDate|date('Y-m-d') : '' }}</h2>
        <p>Nombre de jours de travail: {{ planing.startDate ? planing.startDate.diff(planing.endDate).days }}</p>
        
        <h2>Jours de travail:</h3>
        {% for dayWork in planing.dayWorks %}
            <div>
                <h3>Date: {{ dayWork.date ? dayWork.date|date('d/m/Y') : '' }}</h3>
                <p>Heure de début: {{ dayWork.startHour ? dayWork.startHour|date('H:i') : '' }}</p>
                <p>Heure de fin: {{ dayWork.endHour ? dayWork.endHour|date('H:i') : '' }}</p>
                <p>Durée des créneaux (en minutes): {{ dayWork.slotDuration }}</p>
                <a href="{{ path('app_day_work_edit', {'id': dayWork.id}) }}" class="btn btn-warning mr-2">Modifier Ce jour.</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
