{% extends 'base.html.twig' %}

{% block title %}Détails du Planning{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Détails du Planning</h1>

        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Date de début :</dt>
                    <dd class="col-sm-9">{{ planing.startDate ? planing.startDate|date('d/m/Y') : '' }}</dd>

                    <dt class="col-sm-3">Date de fin :</dt>
                    <dd class="col-sm-9">{{ planing.endDate ? planing.endDate|date('d/m/Y') : '' }}</dd>

                    <dt class="col-sm-3">Début de la journée:</dt>
                    <dd class="col-sm-9">{{ planing.startTime ? planing.startTime|date('H:i:s') : '' }}</dd>

                    <dt class="col-sm-3">Fin de la journée:</dt>
                    <dd class="col-sm-9">{{ planing.endTime ? planing.endTime|date('H:i:s') : '' }}</dd>
                    
                    <dt class="col-sm-3">Statut du week-end :</dt>
                    <dd class="col-sm-9">
                        {% set weekendStatusText = '' %}
                        {% if planing.weekendStatus == '--' %}
                            {% set weekendStatusText = 'Fermé le samedi et le dimanche' %}
                        {% elseif planing.weekendStatus == '1-' %}
                            {% set weekendStatusText = 'Ouvert le samedi et fermé le dimanche' %}
                        {% elseif planing.weekendStatus == '-1' %}
                            {% set weekendStatusText = 'Ouvert le dimanche et fermé le samedi' %}
                        {% elseif planing.weekendStatus == '11' %}
                            {% set weekendStatusText = 'Ouvert le samedi et le dimanche' %}
                        {% else %}
                            {% set weekendStatusText = 'Statut non défini' %}
                        {% endif %}
                        {{ weekendStatusText }}
                    </dd>

                    <dt class="col-sm-3">Fermeture exceptionnelle :</dt>
                    <dd class="col-sm-9">{{ planing.exceptionaleClosure ? planing.exceptionaleClosure|join(', ') : '' }}</dd>
                </dl>
            </div>
        </div>

    </div>
{% endblock %}
