{% extends 'base.html.twig' %}

{% block title %} {{ speciality.name }} {{ parent() }} {% endblock %}

{% block body %}
<h2>{{ speciality.name }}</h2>
{% for doctor in speciality.doctors %}
<div class="card bordered">
    <div class="col-md-12 text-center mt-3">
        <!-- Bouton qui déclenchera la modale -->
        <button type="button" id="btnModale{{ loop.index }}" class="btn btn-primary" data-toggle="modal" data-target="#maModale{{ loop.index }}" aria-label="{{ doctor.firstName }} {{ doctor.lastName }}">
        </button>
    </div>
    <!-- Modale -->
    <div class="modal fade" id="maModale{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="maModaleLabel{{ loop.index }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="maModaleLabel{{ loop.index }}">Docteur {{ doctor.firstName }} {{ doctor.lastName }}</h5>
                </div>
                <div class="modal-body">
                    <!-- Afficher les détails du docteur -->
                    <div class="border p-3">
                        <h2 class="font-weight-bold">Le trouver</h2>
                        <p>{{ doctor.street }}</p>
                    <p>{{ doctor.zipCode }}</p>
                    <p>{{ doctor.city }}</p>
                </div>
                <div class="border p-3">
                    <h2 class="font-weight-bold">Contactez-leu</h2>
                    <p>{{ doctor.phoneNumber }}</p>
                    <p>{{ doctor.email }}</p>
                </div>
                <div class="border p-3">
                        <h2 class="font-weight-bold">Spécialité</h2>
                        <p>{{ doctor.speciality.name }}</p>
                    </div>
                    <div class="border p-3">
                        <h2 class="font-weight-bold">Inscription</h2>
                        <p>{{ doctor.createdAt|date("d/m/Y") }}</p>
                    </div>
                    <div class="border p-3">
                        <h2 class="font-weight-bold">Prise de rendez-vous</h2>
{% for reason in doctor.speciality.reasons %}
<form action="{{ path('app_appointment_new', {'reasonId': reason.id}) }}" method="get">
    <button type="submit" class="btn btn-primary">{{ reason.name }}</button>
</form>

{% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}