<div class="flex items-center justify-center">
    <div class="flex items-center">
        {{ form_start(form, {'attr': {'id': 'searchForm'}}) }}
        <div class="form-row align-items-center">
            <div class="col">
                {{ form_row(form.searchField) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

<div id="searchResultsContainer"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('searchForm');
        var searchField = document.getElementById('search_searchField');
        var searchResultsContainer = document.getElementById('searchResultsContainer');
        var actionUrl = "{{ path('app_search_new') }}";
        var specialityShowBaseUrl = "{{ path('app_speciality_show', { 'id': 0 }) }}";
        specialityShowBaseUrl = specialityShowBaseUrl.replace(/0$/, '');

        // Empêcher la soumission du formulaire avec la touche Entrée
        searchField.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        });

        searchField.addEventListener('input', function() {
            var searchTerm = searchField.value;

            if (searchTerm.length >= 4) {
                fetch(actionUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({ searchField: searchTerm }),
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => { throw new Error(data.error || 'Erreur inconnue') });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        searchResultsContainer.innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
                    } else {
                        searchResultsContainer.innerHTML = data.map(item => 
                            `<a href="${specialityShowBaseUrl}${item.id}">${item.name}</a>`
                        ).join('');
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                    searchResultsContainer.innerHTML = `<div class="alert alert-danger">Erreur: ${error.message}</div>`;
                });
            } else {
                searchResultsContainer.innerHTML = '<div class="alert alert-warning">Le terme de recherche doit comporter au moins 4 caractères.</div>';
            }
        });
    });
</script>
