{% extends 'base.html.twig' %}

{% block title %}
    Rendez-vous patients
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/RDV_docteur.css') }}">
{% endblock %}

{% block body %}
    <div class="container flex min-h-screen my-9">
		{% set now = "now"|date("U") %}
        	<!-- Affichage des rendez-vous pass√©s -->
        	<div class="w-1/4 p-4">
            		<h2 class="text-5xl font-bold mb-9" id="titre_RDV">Pass&#233es</h2>
            		{% set has_past_appointments = false %}
            		{% set current_date = null %}
            		{% for appointment in appointments %}
                	{% if appointment.dateTime|date("U") < now %}
                    	{% set has_past_appointments = true %}
                    	{% set appointment_date = appointment.dateTime|date('d/m/Y') %}
                    	{% if appointment_date != current_date %}
                        {% if current_date is not null %}
                </div>
                        {% endif %}
                        {% set current_date = appointment_date %}
                <div class="appointments bg-white my-16">
                    	{% endif %}
                <!-- Affichage de chaque rendez-vous pass√© -->
                    <div class="appointment-card shadow-lg rounded-2xl">
                        <div class="appointment-details h-auto mb-5 pb-5">
			<div class="flex justify-between rounded-t-2xl text-white h-12 items-center bg-slate-500">

				<div class="flex justify-start">
					<div class="flex items-center mx-3">
			    			<i class="fa-regular fa-calendar mr-2"></i>
						<h5 class="text-lg">{{ current_date }}</h5>
					</div>
					<div class="flex items-center mx-3">
			    			<i class="fa-regular fa-clock mr-2"></i>
                            			<h5 class="text-lg">{{ appointment.dateTime|date('H:i') }}</h5>
					</div>
				</div>
			</div>
			<div class="flex items-end justify-between mt-5">
				<div class="flex items-center mx-8">
			    		<i class="fa-regular fa-user text-6xl"></i>
					<div class="flex flex-col ml-3">
                            			<p class="text-2xl text-slate-500"><strong>Patient</strong> </p>
			    			<a href="{{ path('app_user_show', {'id': appointment.user.id}) }}" class="user-link text-lg">{{ appointment.user.firstName }}</a>
					</div>
				</div>		
				<h5 class="text-lg mr-5">{{ appointment.statu.name }}</h5>

			</div>
		</div>
</div>
		</div>
                {% endif %}
            	{% endfor %}
            	{% if not has_past_appointments %}
                	<p class="no-appointments">Aucun rendez-vous pass√© √† afficher.</p>
			</div>
            	{% endif %}
</div>
        <!-- Affichage des rendez-vous √† venir -->
	<div class="w-3/4 p-4">
            <h2 class="text-5xl font-bold mb-9" id="titre_RDV">Mes rendez-vous &#224 venir </h2>
            {% set has_upcoming_appointments = false %}
            {% set current_date = null %}
            {% for appointment in appointments %}
                {% if appointment.dateTime|date("U") >= now %}
                    {% set has_upcoming_appointments = true %}
                    {% set appointment_date = appointment.dateTime|date('d/m/Y') %}
                    {% if appointment_date != current_date %}
                        {% if current_date is not null %}
                            </div>
                        {% endif %}
                        {% set current_date = appointment_date %}
                        <div class="appointments w-11/12">
                    {% endif %}
                    <!-- Affichage de chaque rendez-vous √† venir -->
                    <div class="appointment-card shadow-lg rounded-2xl">
                        <div class="appointment-details h-auto mb-5">
			<div class="flex justify-between rounded-t-2xl text-white h-12 items-center" id="statut">

				<div class="flex justify-start">
					<div class="flex items-center mx-3">
			    			<i class="fa-regular fa-calendar mr-2"></i>
						<h5 class="text-lg">{{ current_date }}</h5>
					</div>
					<div class="flex items-center mx-3">
			    			<i class="fa-regular fa-clock mr-2"></i>
                            			<h5 class="text-lg">{{ appointment.dateTime|date('H:i') }}</h5>
					</div>
				</div>

				<h5 class="text-lg mr-5">{{ appointment.statu.name }}</h5>
			</div>
			<div class="flex items-start justify-evently mt-5">
				<div class="flex items-center mx-8">
			    		<i class="fa-regular fa-user text-6xl"></i>
					<div class="flex flex-col ml-3">
                            			<p class="text-2xl" id="titre_RDV"><strong>Patient</strong> </p>
			    			<a href="{{ path('app_user_show', {'id': appointment.user.id}) }}" class="user-link text-lg">{{ appointment.user.firstName }}</a>
					</div>
				</div>
				<div class="mx-8">
				{% if not appointment.comment %}
					<p class="text-lg">Aucun motif renseign&#233</p>
					{% else %}
			        	<p class="text-2xl" id="titre_RDV"><strong>Commentaire</strong></p>
					<p class="text-lg"> {{ appointment.comment }}</p>
					{% endif %}
				</div>
				<div class="mx-8">
					{% if not appointment.reason %}
					<p class="text-lg">Aucun motif renseign&#233</p>
					{% else %}
					<p class="mr-96 text-2xl" id="titre_RDV"><strong>Motif</strong></p>
					<p class="text-lg">{{ appointment.reason.name }}</p>
					{% endif %}
				</div>
		
			</div>
		<div class="m-7 pb-6 flex justify-end ">
			<button class="text-white py-2 px-4 rounded m-2 confirm" name="bouton confirmer"><i class="fa-solid fa-check mr-3"></i>Confirmer </button>
			<button class="bg-white py-2 px-4 rounded bordure m-2" name="bouton dÈplacer"><i class="fa-regular fa-clock mr-3"></i> D&#233placer </button>
			<button class="text-white py-2 px-4 rounded bg_red m-2" title="annuler"><i class="fa-regular fa-circle-xmark mr-3"></i>Annuler </button>
</div>
		</div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not has_upcoming_appointments %}
                <p class="no-appointments">Aucun rendez-vous √† venir √† afficher.</p>
            {% endif %}
	</div>
</div>
</div>
</div>
{% endblock %}
