{% extends 'base.html.twig' %}

{% block title %}
    Rendez-vous patients
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="page-title">Les rendez-vous de mes patients</h1>

        {% set now = "now"|date("U") %}

        <!-- Affichage des rendez-vous à venir -->
        <div class=" grid grid-cols-1 sm:grid-cols-2 md-grid-cols-2 lg:grid-cols-2">
	<div class="col">
            <h2 class="font-bold bg-blue-400 py-2 px-2 rounded shadow">Rendez-vous à venir</h2>
            {% set has_upcoming_appointments = false %}
            {% set current_date = null %}
            {% for appointment in appointments %}
                {% if appointment.dateTime|date("U") >= now %}
                    {% set has_upcoming_appointments = true %}
                    {% set appointment_date = appointment.dateTime|date('d/m/Y') %}
                    {% if appointment_date != current_date %}
                        {% if current_date is not null %}
                            </div>
                        {% endif %}
                        {% set current_date = appointment_date %}
                        <h2 class="text-xl font-bold">{{ current_date }}</h2>
                        <div class="appointments">
                    {% endif %}
                    <!-- Affichage de chaque rendez-vous à venir -->
                    <div class="appointment-card">
                        <div class="appointment-details">
                            <h5 class="text-lg font-bold">Heure : {{ appointment.dateTime|date('H:i') }}</h5>
                            <p class="mb-2"><strong>Commentaire :</strong> {{ appointment.comment }}</p>
                            <p><strong>Réservé par :</strong> <a href="{{ path('app_user_show', {'id': appointment.user.id}) }}" class="user-link">{{ appointment.user.firstName }}</a></p>
                            <p><strong>Statu :</strong> {{ appointment.statu.name }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not has_upcoming_appointments %}
                <p class="no-appointments text-2xl font-bold">Aucun rendez-vous à venir à afficher.</p>
            {% endif %}
        </div>
	</div>

        <!-- Affichage des rendez-vous passés -->
        <div class="col">
            <h2 class="text-2xl font-bold mb-3">Rendez-vous passés</h2>
            {% set has_past_appointments = false %}
            {% set current_date = null %}
            {% for appointment in appointments %}
                {% if appointment.dateTime|date("U") < now %}
                    {% set has_past_appointments = true %}
                    {% set appointment_date = appointment.dateTime|date('d/m/Y') %}
                    {% if appointment_date != current_date %}
                        {% if current_date is not null %}
                            </div>
                        {% endif %}
                        {% set current_date = appointment_date %}
                        <h2 class="text-xl font-bold">{{ current_date }}</h2>
                        <div class="appointments bg-white my-16 border-2 border-black">
                    {% endif %}
                    <!-- Affichage de chaque rendez-vous passé -->
                    <div class="appointment-card">
                        <div class="appointment-details">
                            <h5 class="text-lg font-bold">Heure : {{ appointment.dateTime|date('H:i') }}</h5>
                            <p class="mb-2"><strong>Commentaire :</strong> {{ appointment.comment }}</p>
                            <p><strong>Réservé par :</strong> <a href="{{ path('app_user_show', {'id': appointment.user.id}) }}" class="user-link">{{ appointment.user.firstName }}</a></p>
                            <p><strong>Statu :</strong> {{ appointment.statu.name }}</p>
                        </div>
                    </div>
			</div>
                {% endif %}
            {% endfor %}
            {% if not has_past_appointments %}
                <p class="no-appointments">Aucun rendez-vous passé à afficher.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
