{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">
            Rendez-vous ({{ app.user.gender }})
            <span class="last-name">{{ app.user.lastName }}</span>
            <span class="first-name">{{ app.user.firstName }}</span>
        </h1>

        <div id="appointments" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="appointment-list">
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.dateTime|date("d/m/Y") }}</td>
                            <td>{{ appointment.dateTime|date("h:i") }}</td>
                            <td>{{ appointment.status }}</td>
                            <td>
                                <div>
                                    {{ include('appointment/_delete_form.html.twig', {'appointment': appointment}) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
