{% extends 'base.html.twig' %}

{% block title %}Appointment Calendar{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Appointment Calendar</h1>

        <div id="appointments" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="appointment-list">
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.dateTime|date("d/m/Y") }}</td>
                            <td>{{ appointment.dateTime|date("h:m") }}</td>
                            <td>{{ appointment.status }}</td>
                            <td>
                                <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}" class="btn btn-primary mr-2">Modifier</a>
                                <div>
                                    {{ include('appointment/_delete_form.html.twig', {'appointment': appointment}) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
