


<div class="grid grid-cols-7 gap-6 mt-4 bg-gray-50 shadow-md rounded mx-44 rounded-lg shadow-lg"> <!-- Ajout du margin-top -->







<!-- Bloc d'informations email -->
    <div class=" col-start-1 col-span-3 mt-6 h-100 ml-8"> <!-- Ajout de la marge-top -->
        <div class=" p-4 rounded-lg bg-opacity-50  bg-vert  shadow-md">
            <h2 class=" mb-2 pb-6 text-2xl font-bold pt-2">Informations de contact</h2>
            <p class="py-5"><i class="fa-solid fa-envelope" title="adresse email"></i>  contact@doc-and-go.fr</p>
            <p class="py-5"><i class="fa-solid fa-location-dot"  title="Adresse postale"></i>  24 avenue Li√©gegard, 93270 Sevran</p>
            <p class="py-5"><i class="fa-solid fa-phone"  title="numÈro de tÈlÈphone"></i> 0782219453</p>
        </div>
    </div>




    {{ form_start(form, {'attr': {'class': 'col-start-4 col-span-4'}}) }}
   
 <div class="mt-16 "> <!-- Ajout de la marge-top -->

        <div class="grid grid-cols-2">
		<div class="col-start-1">
                	<label for="name" class="block text-sm font-medium text-gray-700">Votre pr√©nom</label>
		</div>
	<div class="mt-1 col-start-2">
                <div class="form-row">
                        {{ form_row(form.name, {'attr': {'class': 'input-field form-control w-100 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Pr√©nom'}}) }}
                </div>
        </div>
	</div>

        <div class="grid grid-cols-2">
		<div class="col-start-1">
                	<label for="email" class="block text-sm font-medium text-gray-700">Votre adresse email</label>
            </div>
            <div class="mt-1 col-start-2">
                <div class="form-row">
                        {{ form_row(form.email, {'attr': {'class': 'input-field form-control w-100 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Adresse email'}}) }}
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2">
            <div class="col-start-1">
                <label for="phone" class="block text-sm font-medium text-gray-700">Saisir votre num√©ro de t√©l√©phone</label>
            </div>
        <div class="mt-1 col-start-2">
            <div class="form-row">
                    {{ form_row(form.phone, {'attr': {'class': 'input-field form-control w-100 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Votre num√©ro de t√©l√©phone'}}) }}
            </div>
            </div>
        </div>

        <div class="grid grid-cols-2">
            <div class="col-start-1">
                <label for="subject" class="block text-sm font-medium text-gray-700">Objet de votre demande</label>
            </div>
            <div class="mt-1 col-start-2">
                <div class="form-row">
                    {{ form_row(form.subject, {'attr': {'class': 'input-field form-control w-100 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Votre demande'}}) }}
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2">
            <div class="col-start-1">
                <label for="content" class="block text-sm font-medium text-gray-700">Saisir le contenu de votre message</label>
            </div>
            <div class="mt-1 col-start-2">
                <div class="form-row">
                    {{ form_row(form.content, {'attr': {'class': 'textarea-field resize form-control w-100 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Votre message...', 'cols': '23'}}) }}
                </div>
            </div>


        <button type="submit" class="btn btn-primary flex items-center justify-center text-white  bg-opacity-60  bg-vert my-6 mx-4 px-4 py-2 rounded hover:transition delay-100 duration-200 hover:scale-110">
            <span>Transmettre ma demande</span>
            <span class="ml-2"><i class="fas fa-paper-plane"></i></span> <!-- Icone Font Awesome -->
        </button>
    </div>   

    {{ form_end(form) }}

</div>
        </div>



