{% extends 'base.html.twig' %}

{% block title %}Contact {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold text-center m-6">Contact index</h1>

    <table class="table items-center text-center w-1/2">
        <thead class="bg-emerald-400">
            <tr class=" border-b  ">
                <th class="py-4">Sujet</th>
                <th>Créé le</th>
                <th>Résolu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr class=" border-b ">
                <td>{{ contact.subject }}</td>
                <td>{{ contact.createdAt ? contact.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ contact.resolved ? 'Yes' : 'No' }}</td>
                <td>

<button class="btn bg-orange-300 py-2 px-2 rounded shadow-sm m-1">
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">Consulter la demande</a>

</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button class="btn bg-blue-300 py-2 px-2 rounded shadow-sm ml-24 mt-6">
    <i class="fa-solid fa-plus"></i> <a href="{{ path('app_contact_new') }}">Create new</a>
</button>
{% endblock %}
