<div class="container mx-auto ">
    
        {{ form_start(form) }}
<div class=" bg-vert pt-4 pb-4  mx-12 rounded mt-3 ">
        <!-- Colonne 1 (à gauche) -->
<div class="shrink-0 sm:grid grid-cols-2 gap-3 ">
        <div class=" mx-6 sm:col md:col lg:col sm:ml-24 text-black ">
            <!-- Sexe -->
            <div class="mb-3">
                <label class="text-black">Sexe</label>
                <div class="relative">
                    <i class="fas fa-venus text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.gender, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10 '}}) }}
                </div>
            </div>

            <!-- Prénom -->
            <div class="mb-3">
                <label class="text-black">Prénom</label>
                <div class="relative">
                    <i class="fas fa-user text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.firstname, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10'}}) }}
                </div>
            </div>

            <!-- Nom -->
            <div class="mb-3">
                <label class="text-black">Nom</label>
                <div class="relative">
                    <i class="fas fa-user text-gray-600 p-2  absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.lastname, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10'}}) }}
                </div>
            </div>

            <!-- Téléphone -->
            <div class="mb-3">
                <label class="text-black">Téléphone</label>
                <div class="relative">
                    <i class="fas fa-phone text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.phoneNumber, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10'}}) }}
                </div>
            </div>

            <!-- Adresse -->
            <div class="mb-3">
                <label class="text-black">Adresse</label>
                <div class="relative">
                    <i class="fas fa-map-marker-alt text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.street, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10' }}) }}
                </div>
            </div>
        </div>

        <!-- Colonne 2 (à droite) -->
        <div class="mx-6 col-start-2 sm:mr-24">
            <!-- Ville -->
            <div class="mb-3">
                <label class="text-black">Ville</label>
                <div class="relative">
                    <i class="fas fa-city text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.city, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10'}}) }}
                </div>
            </div>

            <!-- Code postal -->
            <div class="mb-3">
                <label class="text-black">Code postal</label>
                <div class="relative">
                    <i class="fas fa-mail-bulk text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.zipCode, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10'}}) }}
                </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="text-black">Email</label>
                <div class="relative">
                    <i class="fas fa-envelope text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.email, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10'}}) }}
                </div>
            </div>

{% if edit_mode == false %}
            <!-- Mot de passe -->
            <div class="mb-3">
                <label class="text-black">Mot de passe</label>
                <div class="relative">
                    <i class="fas fa-lock text-gray-600 p-2  absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10', 'placeholder': 'Minimum 8 caractères'}}) }}
                </div>
            </div>

            <!-- Confirmez le mot de passe -->
            <div class="mb-3">
                <label class="text-black">Confirmez le mot de passe</label>
                <div class="relative">
                    <i class="fas fa-lock text-gray-600 p-2 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></i>
                    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control w-full p-2 flex items-center border rounded-lg ps-10', 'placeholder': 'Confirmez votre mot de passe'}}) }}
                </div>
            </div>
{% endif %}
            
        </div>

</div>

<!-- Accepter les termes -->
            <div class="ml-6 items-center justify-items-center mt-4 sm:ml-24">
                <div class="flex items-center">
<input type="checkbox" class="form-checkbox w-4 h-4" id="terms" name="terms" required>
<label class="form-check-label ml-2" for="terms">
    J'accepte les <a href="" target="_blank">conditions générales d'utilisation</a>
</label>
                </div>
            </div>
        <!-- Bouton Inscription -->
<div class="mt-4 text-center">
    <button type="submit" class="items-center py-5 px-10 border border-transparent text-sm font-medium rounded-md text-white bg-teal-900 hover:cursor-pointer hover:transition hover:delay-100 hover:duration-100 hover:scale-105">Inscription</button>
</div>
</div>
        {{ form_end(form) }}
    
</div>
