<div class="flex justify-center items-center h-screen">
    <div class="w-full max-w-md">
        {{ form_start(form) }}
        <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
        <!-- Sexe -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Sexe :</span>
                <i class="fas fa-venus text-gray-600"></i>
                {{ form_row(form.gender, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>

        <!-- Prénom -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Prénom :</span>
                <i class="fas fa-user text-gray-600"></i>
                {{ form_row(form.firstname, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>

        <!-- Nom -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Nom :</span>
                <i class="fas fa-user text-gray-600"></i>
                {{ form_row(form.lastname, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>

        <!-- Téléphone -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Téléphone :</span>
                <i class="fas fa-phone text-gray-600"></i>
                {{ form_row(form.phoneNumber, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>

        <!-- Adresse -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Adresse :</span>
                <i class="fas fa-map-marker-alt text-gray-600"></i>
                {{ form_row(form.street, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>

        <!-- Ville -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Ville :</span>
                <i class="fas fa-city text-gray-600"></i>
                {{ form_row(form.city, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>

        <!-- Code postal -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Code postal :</span>
                <i class="fas fa-mail-bulk text-gray-600"></i>
                {{ form_row(form.zipCode, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>

        <!-- Email -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Email :</span>
                <i class="fas fa-envelope text-gray-600"></i>
                {{ form_row(form.email, {
                    'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}
                }) }}
            </div>
        </div>
{% if not edit_mode %}

        <!-- Mot de passe -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                <span class="text-gray-600">Mot de passe :</span>
                <i class="fas fa-lock text-gray-600"></i>

    {{ form_row(form.plainPassword.first, {
        'label': 'Mot de passe',
        'attr': {
            'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md',
            'minlength': 8,
            'maxlength': 20,
            'placeholder': 'Minimum 8 caractères'
        }
    }) }}

    {{ form_row(form.plainPassword.second, {
        'label': 'Confirmez le mot de passe',
        'attr': {
            'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md',
            'minlength': 8,
            'maxlength': 20,
            'placeholder': 'Confirmez votre mot de passe'
        }
    }) }}            </div>
        </div>

        <!-- Accepter les termes -->
        <div class="sm:col-span-2">
            <div class="flex items-center space-x-4">
                {{ form_row(form.agreeTerms, {
                    'label_attr': {'class': 'text-sm text-gray-700'},
                    'attr': {'class': 'mt-2 ml-4'}
                }) }}
            </div>

        </div>

{% endif %}

        <div class="mt-6">
            <button type="submit" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Inscription</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
