{% extends 'base.html.twig' %}

{% block title %}{{ user.firstName }} - Profil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Profil de {{ user.firstName }}</h1>
                <div class="card mb-3">
                    <div class="card-body">

                        <p class="card-text">Email: {{ user.email }}</p>
                        <p class="card-text">Prénom: {{ user.firstName }}</p>
                        <p class="card-text">Nom: {{ user.lastName }}</p>
                        <p class="card-text">Rôles: {{ user.roles ? user.roles|json_encode : 'N/A' }}</p>
                        <p class="card-text">Date de création: {{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : 'N/A' }}</p>
                        <p class="card-text">Adresse: {{ user.street }}, {{ user.zipCode }} {{ user.city }}</p>
                        <p class="card-text">Numéro de téléphone: {{ user.phonenumber }}</p>
                        <p class="card-text">Genre: {{ user.gender }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
